## WEB SCRAPING – ASSIGNMENT 4

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia. 
### Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos  
### You need to find following details:
- A) Rank
- B) Name
- C) Artist
- D) Upload date
- E) Views

In [88]:
# import required libraries
import pandas as pd
import selenium
import time 
# import selenium webdriver
from selenium import webdriver
# importing required exceptions which need to handled
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
# importing regex
import re
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
driver = webdriver.Chrome('chromedriver.exe')

In [89]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [90]:
driver.maximize_window()

In [91]:
click_top = driver.find_element(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/div[2]/ul/li[1]/a/span[2]')
click_top.click()

In [92]:
top_click = driver.find_element(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/div[2]/ul/li[1]/a/span[2]')
top_click.click()

In [107]:
detail=[]

try:

    details=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td')

    for i in details:

        detail.append(i.text)

except NoSuchElementException:#handling no such element exception

    detail.append('No details available')

time.sleep(2) 
detail

['1.',
 '"Baby Shark Dance"[4]',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 '11.74',
 'June 17, 2016',
 '[A]',
 '2.',
 '"Despacito"[7]',
 'Luis Fonsi',
 '8.01',
 'January 12, 2017',
 '[B]',
 '3.',
 '"Johny Johny Yes Papa"[14]',
 'LooLoo Kids',
 '6.53',
 'October 8, 2016',
 '[C]',
 '4.',
 '"Shape of You"[15]',
 'Ed Sheeran',
 '5.85',
 'January 30, 2017',
 '[D]',
 '5.',
 '"Bath Song"[17]',
 'Cocomelon – Nursery Rhymes',
 '5.77',
 'May 2, 2018',
 '[E]',
 '6.',
 '"See You Again"[18]',
 'Wiz Khalifa',
 '5.70',
 'April 6, 2015',
 '[F]',
 '7.',
 '"Phonics Song with Two Words"[23]',
 'ChuChu TV',
 '5.02',
 'March 6, 2014',
 '[G]',
 '8.',
 '"Uptown Funk"[24]',
 'Mark Ronson',
 '4.76',
 'November 19, 2014',
 '[H]',
 '9.',
 '"Learning Colors – Colorful Eggs on a Farm"[25]',
 'Miroshka TV',
 '4.73',
 'February 27, 2018',
 '[I]',
 '10.',
 '"Wheels on the Bus"[26]',
 'Cocomelon – Nursery Rhymes',
 '4.63',
 'May 24, 2018',
 '',
 '11.',
 '"Gangnam Style"[27]',
 'Psy',
 '4.61',
 'July 15, 2012',
 '[J]',
 '12.',
 '"Masha and the Bear – Recipe for Disaster"[32]',
 'Get Movies',
 '4.51',
 'January 31, 2012',
 '[K]',
 '13.',
 '"Dame Tu Cosita"[33]',
 'El Chombo',
 '4.14',
 'April 5, 2018',
 '',
 '14.',
 '"Sugar"[34]',
 'Maroon 5',
 '3.78',
 'January 14, 2015',
 '',
 '15.',
 '"Roar"[35]',
 'Katy Perry',
 '3.69',
 'September 5, 2013',
 '',
 '16.',
 '"Counting Stars"[36]',
 'OneRepublic',
 '3.68',
 'May 31, 2013',
 '',
 '17.',
 '"Axel F"[37]',
 'Crazy Frog',
 '3.61',
 'June 16, 2009',
 '',
 '18.',
 '"Sorry"[38]',
 'Justin Bieber',
 '3.61',
 'October 22, 2015',
 '',
 '19.',
 '"Thinking Out Loud"[39]',
 'Ed Sheeran',
 '3.52',
 'October 7, 2014',
 '',
 '20.',
 '"Baa Baa Black Sheep"[40]',
 'Cocomelon – Nursery Rhymes',
 '3.43',
 'June 25, 2018',
 '',
 '21.',
 '"Dark Horse"[41]',
 'Katy Perry',
 '3.40',
 'February 20, 2014',
 '',
 '22.',
 '"Faded"[42]',
 'Alan Walker',
 '3.37',
 'December 3, 2015',
 '',
 '23.',
 '"Girls Like You"[43]',
 'Maroon 5',
 '3.35',
 'May 31, 2018',
 '',
 '24.',
 '"Let Her Go"[44]',
 'Passenger',
 '3.34',
 'July 25, 2012',
 '',
 '25.',
 '"Waka Waka (This Time for Africa)"[45]',
 'Shakira',
 '3.31',
 'June 4, 2010',
 '',
 '26.',
 '"Perfect"[46]',
 'Ed Sheeran',
 '3.30',
 'November 9, 2017',
 '',
 '27.',
 '"Bailando"[47]',
 'Enrique Iglesias',
 '3.30',
 'April 11, 2014',
 '',
 '28.',
 '"Lean On"[48]',
 'Major Lazer',
 '3.29',
 'March 22, 2015',
 '',
 '29.',
 '"Humpty the train on a fruits ride"[49]',
 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs',
 '3.23',
 'January 26, 2018',
 '',
 '30.',
 '"Shake It Off"[50]',
 'Taylor Swift',
 '3.23',
 'August 18, 2014',
 '',
 '"Baby Shark Dance"[4]',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 '7,046,700,000',
 'June 17, 2016',
 'November 2, 2020',
 '1600',
 '761',
 '',
 '',
 '',
 '"Despacito"[7]',
 'Luis Fonsi',
 '2,993,700,000',
 'January 12, 2017',
 'August 4, 2017',
 '206',
 '1,186',
 '',
 '[62]',
 '[B]',
 '"See You Again"[18]',
 'Wiz Khalifa',
 '2,894,000,000',
 'April 6, 2015',
 'July 10, 2017',
 '826',
 '25',
 '',
 '[19]',
 '',
 '"Gangnam Style"⁂[27]',
 'Psy',
 '803,700,000',
 'July 15, 2012',
 'November 24, 2012',
 '134',
 '1,689',
 '',
 '[28]',
 '[J]',
 '"Baby"*[63]',
 'Justin Bieber',
 '245,400,000',
 'February 19, 2010',
 'July 16, 2010',
 '149',
 '862',
 '',
 '[64]',
 '[L]',
 '"Bad Romance"[67]',
 'Lady Gaga',
 '178,400,000',
 'November 24, 2009',
 'April 14, 2010',
 '143',
 '93',
 '',
 '[68]',
 '[M]',
 '"Charlie Bit My Finger"‡[71]',
 'HDCYT',
 '128,900,000',
 'May 22, 2007',
 'October 25, 2009',
 '887',
 '171',
 'late July 2021[72]',
 '[73]',
 '',
 '"Evolution of Dance"[74]',
 'Judson Laipply',
 '118,900,000',
 'April 6, 2006',
 'May 2, 2009',
 '1062',
 '176',
 '',
 '[75]',
 '',
 '"Girlfriend"‡[76][77]',
 'RCA Records',
 '92,600,000',
 'February 27, 2007',
 'July 17, 2008',
 '508',
 '289',
 'no data',
 '[78]',
 '[N]',
 '"Evolution of Dance"[74]',
 'Judson Laipply',
 '78,400,000',
 'April 6, 2006',
 'March 15, 2008',
 '651',
 '124',
 '',
 '[80]',
 '',
 '"Music Is My Hot Hot Sex"‡[81]',
 'CLARUSBARTEL72',
 '76,600,000',
 'April 9, 2007',
 'March 1, 2008',
 '327',
 '14',
 'mid-2008[82]',
 '[83]',
 '[O]',
 '"Evolution of Dance"*[74]',
 'Judson Laipply',
 '10,600,000',
 'April 6, 2006',
 'May 19, 2006',
 '16',
 '652',
 '',
 '[86]',
 '[P]',
 '"Pokémon Theme Music Video"‡[87]',
 'Smosh',
 '4,300,000',
 'November 28, 2005',
 'March 12, 2006',
 '105',
 '68',
 'June 2007[88]',
 '[89]',
 '[Q]',
 '"Myspace – The Movie"‡[92][93]',
 'eggtea',
 '2,700,000',
 'January 31, 2006',
 'February 18, 2006',
 '18',
 '22',
 'mid-2006[94]',
 '[95]',
 '',
 '"Phony Photo Booth"‡[96]',
 'mugenized',
 '3,400,000',
 'December 1, 2005',
 'January 21, 2006',
 '50',
 '28',
 'no data',
 '[97]',
 '[R]',
 '"The Chronic of Narnia Rap"‡[98]',
 'youtubedude',
 '2,300,000',
 'December 18, 2005',
 'January 9, 2006',
 '22',
 '12',
 'no data',
 '[99]',
 '',
 '"Ronaldinho: Touch of Gold"‡*[100]',
 'Nikesoccer',
 '255,000',
 'October 21, 2005',
 'October 31, 2005',
 '10',
 '70',
 'no data',
 '[101]',
 '[S]',
 '"I/O Brush"‡*[103]',
 'larfus',
 '247,000',
 'October 5, 2005',
 'October 29, 2005',
 '24',
 '2',
 'no data',
 '[104]',
 '',
 '"Me at the zoo"[105]',
 'jawed',
 '1',
 'April 23, 2005',
 'April 23, 2005',
 '0',
 '189',
 '',
 '[106]',
 '']

In [108]:
rank = detail[0:180:6]
video_name=detail[1:180:6]
uploader=detail[2:180:6]
upload_date=detail[4:180:6]
views=detail[3:180:6]

## creating dataframe

In [109]:
df=pd.DataFrame({'Rank':rank,'Video name':video_name,'Uploader':uploader,'Upload date':upload_date,'Views':views})
df

,Rank,Video name,Uploader,Upload date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.74
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.01
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.53
3,4.,"""Shape of You""[15]",Ed Sheeran,"January 30, 2017",5.85
4,5.,"""Bath Song""[17]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.77
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.70
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.02
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.76
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[25]",Miroshka TV,"February 27, 2018",4.73
9,10.,"""Wheels on the Bus""[26]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.63
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.61
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.51
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.14
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.78
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.69
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.68
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.61
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.61
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.52
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.43
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.40
21,22.,"""Faded""[42]",Alan Walker,"December 3, 2015",3.37
22,23.,"""Girls Like You""[43]",Maroon 5,"May 31, 2018",3.35
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.34
24,25.,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.31
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.30
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.30
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.29
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.23
29,30.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.23

In [110]:
driver.close()

### 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
- A) Match title (I.e. 1st ODI)
- B) Series
- C) Place
- D) Date
- E) Time
- Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [77]:
# import required libraries
import pandas as pd
import selenium
import time 
# import selenium webdriver
from selenium import webdriver
# importing required exceptions which need to handled
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
# importing regex
import re
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
driver = webdriver.Chrome('chromedriver.exe')

In [78]:
driver.get('https://www.bcci.tv/')
driver.maximize_window()

In [3]:
menu_button = driver.find_element(By.XPATH,'//button[@class="navbar-toggler menu-btn menu-icon collapsed"]')
menu_button.click()

In [4]:
international_button = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international_button.click()

### Extracting Series

In [5]:
series = []
series_tag = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in series_tag:
    series.append(i.text)
series

['INDIA A IN BANGLADESH MULTI DAY SERIES',
 'NEW ZEALAND WM U19 IN INDIA T20 SERIES',
 'INDIA TOUR OF BANGLADESH ODI SERIES 2022-23',
 'AUSTRALIA WOMEN TOUR OF INDIA 2022',
 'INDIA TOUR OF BANGLADESH ODI SERIES 2022-23',
 'AUSTRALIA WOMEN TOUR OF INDIA 2022',
 'INDIA TOUR OF BANGLADESH TEST SERIES 2022-23',
 'AUSTRALIA WOMEN TOUR OF INDIA 2022']

### Extracting Match Title

In [9]:
title = []
title_tag = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in title_tag:
    title.append(i.text.split(' -')[0])
title

['First-Class Match',
 "Women's Youth T20 Match",
 '2nd ODI',
 '1st T20I',
 '3rd ODI',
 '2nd T20I',
 '1st Test',
 '3rd T20I']

### Extracting Place

In [11]:
place = []
place_tag = driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in place_tag:
    place.append(i.text.split(' -')[1])
place

[' Sylhet International Cricket Stadium, Sylhet',
 ' Sharad Pawar Cricket Academy BKC, Mumbai',
 ' Shere Bangla National Stadium, Mirpur, Dhaka',
 ' DY Patil Stadium, NAVI MUMBAI',
 ' Zahur Ahmed Chowdhury Stadium, Chattogram',
 ' DY Patil Stadium, NAVI MUMBAI',
 ' Zahur Ahmed Chowdhury Stadium, Chattogram',
 ' Brabourne']

### Extracting Date

In [12]:
date = []
date_tag = driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date_tag:
    date.append(i.text)
date

['6 DEC 2022',
 '6 DEC 2022',
 '7 DEC 2022',
 '9 DEC 2022',
 '10 DEC 2022',
 '11 DEC 2022',
 '14 DEC 2022',
 '14 DEC 2022']

### Extracting Time

In [13]:
time = []
time_tag = driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time_tag:
    time.append(i.text)
time

['9:00 AM IST',
 '1:00 PM IST',
 '11:30 AM IST',
 '7:00 PM IST',
 '11:30 AM IST',
 '7:00 PM IST',
 '9:30 AM IST',
 '7:00 PM IST']

### Create DataFrame

In [14]:
df = pd.DataFrame({'Match Title':title,'Series':series,'Place':place,'Date':date,'Time':time})
df

,Match Title,Series,Place,Date,Time
0,First-Class Match,INDIA A IN BANGLADESH MULTI DAY SERIES,"Sylhet International Cricket Stadium, Sylhet",6 DEC 2022,9:00 AM IST
1,Women's Youth T20 Match,NEW ZEALAND WM U19 IN INDIA T20 SERIES,"Sharad Pawar Cricket Academy BKC, Mumbai",6 DEC 2022,1:00 PM IST
2,2nd ODI,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Shere Bangla National Stadium, Mirpur, Dhaka",7 DEC 2022,11:30 AM IST
3,1st T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,"DY Patil Stadium, NAVI MUMBAI",9 DEC 2022,7:00 PM IST
4,3rd ODI,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Zahur Ahmed Chowdhury Stadium, Chattogram",10 DEC 2022,11:30 AM IST
5,2nd T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,"DY Patil Stadium, NAVI MUMBAI",11 DEC 2022,7:00 PM IST
6,1st Test,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,"Zahur Ahmed Chowdhury Stadium, Chattogram",14 DEC 2022,9:30 AM IST
7,3rd T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,Brabourne,14 DEC 2022,7:00 PM IST

In [79]:
driver.close()

### 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
- A) Name
- B) Description
- Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [1]:
# import required libraries
import pandas as pd
import selenium
import time 
# import selenium webdriver
from selenium import webdriver
# importing required exceptions which need to handled
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
# importing regex
import re
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
driver = webdriver.Chrome('chromedriver.exe')

In [2]:
driver.get('https://www.guru99.com/')
driver.maximize_window()

In [4]:
search_button = driver.find_element(By.XPATH,'//input[@class="gsc-input"]')
search_button.send_keys('selenium exception')

In [5]:
search_button_click = driver.find_element(By.XPATH,'//button[@class="gsc-search-button gsc-search-button-v2"]')
search_button_click.click()

In [11]:
exception_hndling = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a')
exception_hndling.click()

In [12]:
#scraping exceptions names

name=[]

try:

    names=driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[1]")
    print(names)
    for i in names[1:]:

        name.append(i.text)

except NoSuchElementException:#handling no such element exception

    name.append('No details available')

time.sleep(2)   

name

[]

[]

### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
- A) Rank
- B) State
- C) GSDP(18-19)- at current prices
- D) GSDP(19-20)- at current prices
- E) Share(18-19)
- F) GDP($ billion)
- Note: - From statisticstimes home page you have to reach to economy page through code.

In [37]:
# import required libraries
import pandas as pd
import selenium
import time 
# import selenium webdriver
from selenium import webdriver
# importing required exceptions which need to handled
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
# importing regex
import re
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
driver = webdriver.Chrome('chromedriver.exe')

In [38]:
driver.get('http://statisticstimes.com/')
driver.maximize_window()

In [39]:
economy_button=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy_button.click()

In [41]:
indian_states=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
indian_states.click()

### Etracting Rank

In [42]:
rank = []
rank_tag = driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank_tag[0:33]:
    rank.append(i.text)
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

###  Extracting State

In [43]:
state = []
state_tag = driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in state_tag[0:33]:
    state.append(i.text)
state

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

### Extracting GSDP(18-19)- at current prices

In [47]:
gsdp_cp=[]
gsdp_cp_tag=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in gsdp_cp_tag[0:33]:
    gsdp_cp.append(i.text)
gsdp_cp

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

### Extracting GSDP(19-20)- at current prices

In [51]:
GSDP_cp=[]
GSDP_cp_tag=driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in GSDP_cp_tag:
    GSDP_cp.append(i.text)
gsdp=GSDP_cp[0:162:5]  
gsdp

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

### Extracting Share(18-19)

In [52]:
share=GSDP_cp[1:163:5]
share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

### Extracting GDP($ billion)

In [53]:
gdp=GSDP_cp[2:164:5]
gdp

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

### Create DataFrame

In [55]:
df = pd.DataFrame({'Rank':rank,'State':state,'GSDP(19-20) - at current prices':gsdp,'GSDP(18-19)- at current prices':gsdp_cp,'Share(18-19)':share,'GDP($ billion)':gdp})
df

,Rank,State,GSDP(19-20) - at current prices,GSDP(18-19)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [56]:
driver.close()

### 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
- A) Repository title
- B) Repository description
- C) Contributors count
- D) Language used
- Note: - From the home page you have to click on the trending option from Explore menu through code.

In [57]:
# import required libraries
import pandas as pd
import selenium
import time 
# import selenium webdriver
from selenium import webdriver
# importing required exceptions which need to handled
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
# importing regex
import re
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
driver = webdriver.Chrome('chromedriver.exe')

In [58]:
driver.get('https://github.com/')
driver.maximize_window()

In [68]:
button_click = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
button_click.click()

In [70]:
trending_click = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
trending_click.click()

### Extracting Repository title

In [92]:
title = []
title_tag=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]//a')
for i in title_tag[0:23]:
    title.append(i.text.split(' /')[0])

title

['invoke-ai',
 'apple',
 'AleoHQ',
 'misskey-dev',
 'Klipper3d',
 'PKUFlyingPig',
 'danielgross',
 'hehonghui',
 'Visualize-ML',
 'thangchung',
 'monicahq',
 'coolsnowwolf',
 'Bogdanp',
 'palera1n',
 't3-oss',
 'maplecool',
 'openai',
 'microsoft',
 'evrone',
 'openzfs',
 'recloudstream',
 'fspoettel',
 'getify']

### Extracting Repository description

In [91]:
desc = []
desc_tag=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc_tag[0:23]:
    desc.append(i.text)
    
desc

['This version of Stable Diffusion features a slick WebGUI, an interactive command-line script that combines text2img and img2img functionality in a "dream bot" style interface, and multiple features and other enhancements. For more info, see the website link below.',
 'Stable Diffusion with Core ML on Apple Silicon',
 'A Decentralized Operating System for ZK Applications',
 '🌎 An interplanetary microblogging platform 🚀',
 'Klipper is a 3d-printer firmware',
 '计算机自学指南',
 '经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi、pdf格式, 每周更新',
 'Book_4_《矩阵力量》 | 鸢尾花书：从加减乘除到机器学习；本册有，584幅图，81个代码文件，其中18个Streamlit App；状态：清华社五审五校中；Github稿件基本稳定，欢迎提意见，会及时修改',
 '☕ A practical event-driven microservices demo built with Golang. Nomad, Consul Connect, Vault, and Terraform for deployment',
 'Personal CRM. Remember everything about your friends, family and business relationships.',
 "Lean's LEDE source",
 'A collection of awesome resources related to the yearly Advent of Code challenge.',
 'iOS 15.0-15.7.1 (semi-)tethered checkm8 "jailbreak"',
 'The best way to start a full-stack, typesafe Next.js app',
 '世界上最简单的Trojan部署脚本，仅需一行命令即可搭建一台代理服务器',
 'Node.js example app from the OpenAI API quickstart tutorial',
 'Windows system utilities to maximize productivity',
 'Clean Architecture template for Golang services',
 'OpenZFS on Linux and FreeBSD',
 'Android app for streaming and downloading Movies, TV-Series and Anime.',
 '🎄Starter template for solving Advent of Code in Rust.',
 'A book series on JavaScript. @YDKJS on twitter.',
 'Python example app from the OpenAI API quickstart tutorial']

### Extracting Contributors count

In [90]:
cont = []
try:
    cont_tag=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
    for i in cont_tag[1:47:2]:
        cont.append(i.text)
except NoSuchElementException:
    cont.append('-')
    
cont

['801',
 '102',
 '559',
 '490',
 '3,891',
 '2,726',
 '59',
 '192',
 '130',
 '162',
 '1,803',
 '18,387',
 '773',
 '157',
 '465',
 '42',
 '255',
 '4,740',
 '314',
 '1,541',
 '129',
 '9',
 '31,636']

### Extracting  Language

In [89]:
lang = []
try:
    lang_tag=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
    for i in lang_tag[0:23]:
        lang.append(i.text)
except NoSuchElementException:
    lang.append('-')
    
lang

['Jupyter Notebook',
 'Python',
 'Rust',
 'TypeScript',
 'C',
 'HTML',
 'Go',
 'CSS',
 'Python',
 'Go',
 'PHP',
 'C',
 'Shell',
 'TypeScript',
 'Shell',
 'JavaScript',
 'C#',
 'Go',
 'C',
 'Kotlin',
 'Rust',
 'CSS',
 'Rust']

### Create DataFrame

In [93]:
df= pd.DataFrame({'Repository title':title,'Repository description':desc,'Contributors count':cont,'Language used':lang})
df

,Repository title,Repository description,Contributors count,Language used
0,invoke-ai,This version of Stable Diffusion features a sl...,801,Jupyter Notebook
1,apple,Stable Diffusion with Core ML on Apple Silicon,102,Python
2,AleoHQ,A Decentralized Operating System for ZK Applic...,559,Rust
3,misskey-dev,🌎 An interplanetary microblogging platform 🚀,490,TypeScript
4,Klipper3d,Klipper is a 3d-printer firmware,"3,891",C
5,PKUFlyingPig,计算机自学指南,"2,726",HTML
6,danielgross,"经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi...",59,Go
7,hehonghui,Book_4_《矩阵力量》 | 鸢尾花书：从加减乘除到机器学习；本册有，584幅图，81个代...,192,CSS
8,Visualize-ML,☕ A practical event-driven microservices demo ...,130,Python
9,thangchung,Personal CRM. Remember everything about your f...,162,Go
10,monicahq,Lean's LEDE source,"1,803",PHP
11,coolsnowwolf,A collection of awesome resources related to t...,"18,387",C
12,Bogdanp,"iOS 15.0-15.7.1 (semi-)tethered checkm8 ""jailb...",773,Shell
13,palera1n,"The best way to start a full-stack, typesafe N...",157,TypeScript
14,t3-oss,世界上最简单的Trojan部署脚本，仅需一行命令即可搭建一台代理服务器,465,Shell
15,maplecool,Node.js example app from the OpenAI API quicks...,42,JavaScript
16,openai,Windows system utilities to maximize productivity,255,C#
17,microsoft,Clean Architecture template for Golang services,"4,740",Go
18,evrone,OpenZFS on Linux and FreeBSD,314,C
19,openzfs,Android app for streaming and downloading Movi...,"1,541",Kotlin
20,recloudstream,🎄Starter template for solving Advent of Code i...,129,Rust
21,fspoettel,A book series on JavaScript. @YDKJS on twitter.,9,CSS
22,getify,Python example app from the OpenAI API quickst...,"31,636",Rust

In [94]:
driver.close()

### 6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
- A) Song name
- B) Artist name
- C) Last week rank
- D) Peak rank
- E) Weeks on board
- Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [97]:
# import required libraries
import pandas as pd
import selenium
import time 
# import selenium webdriver
from selenium import webdriver
# importing required exceptions which need to handled
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
# importing regex
import re
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
driver = webdriver.Chrome('chromedriver.exe')

In [98]:
driver.get('http://www.billboard.com/')
driver.maximize_window()

In [99]:
charts = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()

In [100]:
billboard_click= driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/span/span')
billboard_click.click()

### Extracting song name

In [109]:
name=[]
name_s= []
name_s_tag = driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3')
for i in name_s_tag:
    name_s.append(i.text)    
name_tag = driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in name_tag:
    name.append(i.text)
name  
song_name = name_s + name
len(song_name)

100

### Extracting Artist name

In [118]:
a_name=[]
name= []
name_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
for i in name_tag:
    name.append(i.text)    
a_name_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in a_name_tag:
    a_name.append(i.text) 
artist_name = name+ a_name
len(artist_name)

100

In [ ]:
a_name=[]
name= []
name_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
for i in name_tag:
    name.append(i.text)    
a_name_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in a_name_tag:
    a_name.append(i.text) 
artist_name = name+ a_name
len(artist_name)

### Extracting last week rank

In [123]:
rank=[]
l_rank= []
rank_tag = driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[4]/span')
for i in rank_tag:
    rank.append(i.text)    
l_rank_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in l_rank_tag[0:594:6]:
    l_rank.append(i.text) 
last_week_rank = rank+ l_rank
len(last_week_rank)

100

### Extracting peak rank

In [127]:
rank=[]
p_rank= []
rank_tag = driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[4]/span') 
for i in rank_tag:
    rank.append(i.text)       
p_rank_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in p_rank_tag[1:594:6]:
    p_rank.append(i.text) 
peak_rank = rank+ p_rank
len(peak_rank)

100

### Extracting weeks on board

In [128]:
week=[]
week_b= []
week_tag = driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[6]/span') 
for i in week_tag:
    week.append(i.text)       
week_b_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in week_b_tag[2:594:6]:
    week_b.append(i.text) 
week_on_board = week+ week_b
len(week_on_board)

100

### create DataFrame

In [131]:
df = pd.DataFrame({'Song Name':song_name,'Artist name':artist_name,'Last Week Rank':last_week_rank,'Peak Rank':peak_rank,'Week On Board':week_on_board})
df

,Song Name,Artist name,Last Week Rank,Peak Rank,Week On Board
0,Anti-Hero,Taylor Swift,1,1,5
1,Rich Flex,Drake & 21 Savage,2,2,3
2,Unholy,Sam Smith & Kim Petras,3,1,9
3,Bad Habit,Steve Lacy,4,1,21
4,All I Want For Christmas Is You,Mariah Carey,25,1,53
...,...,...,...,...,...
95,Die For You,Joji,72,53,3
96,Down Home,Jimmie Allen,-,88,4
97,"Going, Going, Gone",Luke Combs,99,98,2
98,Middle Of The Ocean,Drake,67,15,3
99,More M’s,Drake & 21 Savage,69,18,3

In [132]:
driver.close()

### 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
- A) Name
- B) Designation
- C) Company
- D) Skills they hire for
- E) Location

In [133]:
# import required libraries
import pandas as pd
import selenium
import time 
# import selenium webdriver
from selenium import webdriver
# importing required exceptions which need to handled
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
# importing regex
import re
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
driver = webdriver.Chrome('chromedriver.exe')

In [134]:
driver.get('https://www.naukri.com/')
driver.maximize_window()

In [135]:
search_field = driver.find_element(By.CLASS_NAME,'suggestor-input ')
search_field.send_keys('Data Science')

In [136]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [141]:
name = []
name_tag = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in name_tag:
    name.append(i.text)
len(name)

20

### Extracting Company

In [142]:
comp = []
comp_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp_tag:
    comp.append(i.text)
len(comp)

20

### Extracting skills

In [143]:
skill = []
skill_tag = driver.find_elements(By.XPATH,'//div[@class="job-description fs12 grey-text"]')
for i in skill_tag:
    skill.append(i.text)
len(skill)

20

### Extracting Location

In [144]:
loc = []
loc_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in loc_tag:
    loc.append(i.text)
len(loc)

20

### Creating DataFrame

In [145]:
df = pd.DataFrame({'JOB Title':name,'Company':comp,'Skills':skill,'Location':loc})
df

,JOB Title,Company,Skills,Location
0,Data Science - Engineering Manager,Paytm,- We are looking for passionate and skilled da...,"New Delhi, Bangalore/Bengaluru"
1,ACN - Applied Intelligence - CC - Data Science...,Accenture,Requirements: Responsible for taking up day-to...,Gurgaon/Gurugram
2,Analyst-Data Science,Accenture,You will be required to utilize the existing f...,Bangalore/Bengaluru
3,Senior Analyst-Data Science,Accenture,Skill required: Data Science - Python Programm...,Mumbai
4,Data Science Lead - Forecasting,Cargill,"Bachelor s degree in Computer science, Statist...",Bangalore/Bengaluru
5,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,Preferred Educational Background PhD / Masters...,Gurgaon/Gurugram
6,Analyst - Data Science - Python/Machine Learni...,Huquo Consulting,"BTech, MTech or MCA degree from a reputed univ...",Gurgaon/Gurugram
7,Deputy National Lead - Payments - Data Science,BAJAJ FINSERVE,"Bachelor s Degree in computer science, Math, P...",Pune
8,Lead Data Scientist - Data Sciences,GEP,", code review and version control tools, batch...",Remote
9,"Assistant Manager - Data Science, Need Immedia...",Citiustech,"Work with OMICs, image, med device and RWE dat...","Hybrid - Pune, Gurgaon/Gurugram, Bangalore/Ben..."
10,Technology Analyst / Data Science / Machine Le...,Infosys,Bachelor of Engineering Good understanding of ...,Bangalore/Bengaluru
11,SR Program Manager Data Science 15 Yrs PLUS Fo...,Xpheno,Roles and Responsibilities Data Science Your P...,Bangalore/Bengaluru
12,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,The ideal candidate should have a strong clien...,Bangalore/Bengaluru
13,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,Preferred Educational Background PhD / Masters...,Bangalore/Bengaluru
14,Hiring For Senior / Lead Data Scientist - Data...,Tiger Analytics,A passion for writing high-quality code (Pytho...,Permanent Remote
15,Data Science - Statistical Analyses,Inspiration Manpower Consultancy,Skill required: Data Science - Statistical Ana...,"Bangalore/Bengaluru, Mumbai (All Areas)"
16,Python Programming Language Data Science Pract...,Accenture,Technical Experience : Experience in DevOps pr...,Bangalore/Bengaluru
17,Data Science Trainee,Medtoureasy,This program will help anyone interested in pu...,Remote
18,ACN - Applied Intelligence - CC - Data Science...,Accenture,6 years of data science experience using stati...,Gurgaon/Gurugram
19,ACN - Applied Intelligence - CC - Data Science...,Accenture,At least 2-3 years of experience of leading ju...,Gurgaon/Gurugram

In [146]:
driver.close()

### 8. Scrape the details of Highest selling novels.
url=https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
- A) Book name
- B) Author name
- C) Volumes sold
- D) Publisher
- E) Genre

In [147]:
# import required libraries
import pandas as pd
import selenium
import time 
# import selenium webdriver
from selenium import webdriver
# importing required exceptions which need to handled
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
# importing regex
import re
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
driver = webdriver.Chrome('chromedriver.exe')

In [148]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
driver.maximize_window()

In [149]:
detail = []
detail_tag = driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in detail_tag:
    detail.append(i.text)
detail

['1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark',
 '1,979,552',
 'Random House',
 '21',
 'Digital Fortress',
 'Brown, Dan',
 '1,928,900',
 'Transworld',
 '22',
 'Short History of Nearly Everything,A',
 'Bryson, Bill',
 '1,852,919',
 'Transworld',
 '23',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Larsson, Stieg',
 '1,814,784',
 'Quercus',
 '24',
 'Breaking Dawn',
 'Meyer, Stephenie',
 '1,787,118',
 'Little, Brown Book',
 '25',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Carle, Eric',
 '1,783,535',
 'Penguin',
 '26',
 'Gruffalo,The',
 'Donaldson, Julia',
 '1,781,269',
 'Pan Macmillan',
 '27',
 "Jamie's 30-Minute Meals",
 'Oliver, Jamie',
 '1,743,266',
 'Penguin',
 '28',
 'Kite Runner,The',
 'Hosseini, Khaled',
 '1,629,119',
 'Bloomsbury',
 '29',
 'One Day',
 'Nicholls, David',
 '1,616,068',
 'Hodder & Stoughton',
 '30',
 'Thousand Splendid Suns,A',
 'Hosseini, Khaled',
 '1,583,992',
 'Bloomsbury',
 '31',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 'Larsson, Stieg',
 '1,555,135',
 'Quercus',
 '32',
 "Time Traveler's Wife,The",
 'Niffenegger, Audrey',
 '1,546,886',
 'Random House',
 '33',
 'Atonement',
 'McEwan, Ian',
 '1,539,428',
 'Random House',
 '34',
 "Bridget Jones's Diary:A Novel",
 'Fielding, Helen',
 '1,508,205',
 'Pan Macmillan',
 '35',
 'World According to Clarkson,The',
 'Clarkson, Jeremy',
 '1,489,403',
 'Penguin',
 '36',
 "Captain Corelli's Mandolin",
 'Bernieres, Louis de',
 '1,352,318',
 'Random House',
 '37',
 'Sound of Laughter,The',
 'Kay, Peter',
 '1,310,207',
 'Random House',
 '38',
 'Life of Pi',
 'Martel, Yann',
 '1,310,176',
 'Canongate',
 '39',
 'Billy Connolly',
 'Stephenson, Pamela',
 '1,231,957',
 'HarperCollins',
 '40',
 'Child Called It,A',
 'Pelzer, Dave',
 '1,217,712',
 'Orion',
 '41',
 "Gruffalo's Child,The",
 'Donaldson, Julia',
 '1,208,711',
 'Pan Macmillan',
 '42',
 "Angela's Ashes:A Memoir of a Childhood",
 'McCourt, Frank',
 '1,204,058',
 'HarperCollins',
 '43',
 'Birdsong',
 'Faulks, Sebastian',
 '1,184,967',
 'Random House',
 '44',
 'Northern Lights:His Dark Materials S.',
 'Pullman, Philip',
 '1,181,503',
 'Scholastic Ltd.',
 '45',
 'Labyrinth',
 'Mosse, Kate',
 '1,181,093',
 'Orion',
 '46',
 'Harry Potter and the Half-blood Prince',
 'Rowling, J.K.',
 '1,153,181',
 'Bloomsbury',
 '47',
 'Help,The',
 'Stockett, Kathryn',
 '1,132,336',
 'Penguin',
 '48',
 'Man and Boy',
 'Parsons, Tony',
 '1,130,802',
 'HarperCollins',
 '49',
 'Memoirs of a Geisha',
 'Golden, Arthur',
 '1,126,337',
 'Random House',
 '50',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'McCall Smith, Alexander',
 '1,115,549',
 'Little, Brown Book',
 '51',
 'Island,The',
 'Hislop, Victoria',
 '1,108,328',
 'Headline',
 '52',
 'PS, I Love You',
 'Ahern, Cecelia',
 '1,107,379',
 'HarperCollins',
 '53',
 'You are What You Eat:The Plan That Will Change Your Life',
 'McKeith, Gillian',
 '1,104,403',
 'Penguin',
 '54',
 'Shadow of the Wind,The',
 'Zafon, Carlos Ruiz',
 '1,092,349',
 'Orion',
 '55',
 'Tales of Beedle the Bard,The',
 'Rowling, J.K.',
 '1,090,847',
 'Bloomsbury',
 '56',
 'Broker,The',
 'Grisham, John',
 '1,087,262',
 'Random House',
 '57',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Atkins, Robert C.',
 '1,054,196',
 'Random House',
 '58',
 'Subtle Knife,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,037,160',
 'Scholastic Ltd.',
 '59',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 'Truss, Lynne',
 '1,023,688',
 'Profile Books Group',
 '60',
 "Delia's How to Cook:(Bk.1)",
 'Smith, Delia',
 '1,015,956',
 'Random House',
 '61',
 'Chocolat',
 'Harris, Joanne',
 '1,009,873',
 'Transworld',
 '62',
 'Boy in the Striped Pyjamas,The',
 'Boyne, John',
 '1,004,414',
 'Random House Childrens Books G',
 '63',
 "My Sister's Keeper",
 'Picoult, Jodi',
 '1,003,780',
 'Hodder & Stoughton',
 '64',
 'Amber Spyglass,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,002,314',
 'Scholastic Ltd.',
 '65',
 'To Kill a Mockingbird',
 'Lee, Harper',
 '998,213',
 'Random House',
 '66',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Gray, John',
 '992,846',
 'HarperCollins',
 '67',
 'Dear Fatty',
 'French, Dawn',
 '986,753',
 'Random House',
 '68',
 'Short History of Tractors in Ukrainian,A',
 'Lewycka, Marina',
 '986,115',
 'Penguin',
 '69',
 'Hannibal',
 'Harris, Thomas',
 '970,509',
 'Random House',
 '70',
 'Lord of the Rings,The',
 'Tolkien, J. R. R.',
 '967,466',
 'HarperCollins',
 '71',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Moore, Michael',
 '963,353',
 'Penguin',
 '72',
 'Interpretation of Murder,The',
 'Rubenfeld, Jed',
 '962,515',
 'Headline',
 '73',
 'Sharon Osbourne Extreme:My Autobiography',
 'Osbourne, Sharon',
 '959,496',
 'Little, Brown Book',
 '74',
 'Alchemist,The:A Fable About Following Your Dream',
 'Coelho, Paulo',
 '956,114',
 'HarperCollins',
 '75',
 "At My Mother's Knee ...:and Other Low Joints",
 "O'Grady, Paul",
 '945,640',
 'Transworld',
 '76',
 'Notes from a Small Island',
 'Bryson, Bill',
 '931,312',
 'Transworld',
 '77',
 'Return of the Naked Chef,The',
 'Oliver, Jamie',
 '925,425',
 'Penguin',
 '78',
 'Bridget Jones: The Edge of Reason',
 'Fielding, Helen',
 '924,695',
 'Pan Macmillan',
 '79',
 "Jamie's Italy",
 'Oliver, Jamie',
 '906,968',
 'Penguin',
 '80',
 'I Can Make You Thin',
 'McKenna, Paul',
 '905,086',
 'Transworld',
 '81',
 'Down Under',
 'Bryson, Bill',
 '890,847',
 'Transworld',
 '82',
 'Summons,The',
 'Grisham, John',
 '869,671',
 'Random House',
 '83',
 'Small Island',
 'Levy, Andrea',
 '869,659',
 'Headline',
 '84',
 'Nigella Express',
 'Lawson, Nigella',
 '862,602',
 'Random House',
 '85',
 'Brick Lane',
 'Ali, Monica',
 '856,540',
 'Transworld',
 '86',
 "Memory Keeper's Daughter,The",
 'Edwards, Kim',
 '845,858',
 'Penguin',
 '87',
 'Room on the Broom',
 'Donaldson, Julia',
 '842,535',
 'Pan Macmillan',
 '88',
 'About a Boy',
 'Hornby, Nick',
 '828,215',
 'Penguin',
 '89',
 'My Booky Wook',
 'Brand, Russell',
 '820,563',
 'Hodder & Stoughton',
 '90',
 'God Delusion,The',
 'Dawkins, Richard',
 '816,907',
 'Transworld',
 '91',
 '"Beano" Annual,The',
 '0',
 '816,585',
 'D.C. Thomson',
 '92',
 'White Teeth',
 'Smith, Zadie',
 '815,586',
 'Penguin',
 '93',
 'House at Riverton,The',
 'Morton, Kate',
 '814,370',
 'Pan Macmillan',
 '94',
 'Book Thief,The',
 'Zusak, Markus',
 '809,641',
 'Transworld',
 '95',
 'Nights of Rain and Stars',
 'Binchy, Maeve',
 '808,900',
 'Orion',
 '96',
 'Ghost,The',
 'Harris, Robert',
 '807,311',
 'Random House',
 '97',
 'Happy Days with the Naked Chef',
 'Oliver, Jamie',
 '794,201',
 'Penguin',
 '98',
 'Hunger Games,The:Hunger Games Trilogy',
 'Collins, Suzanne',
 '792,187',
 'Scholastic Ltd.',
 '99',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 'Pelzer, Dave',
 '791,507',
 'Orion',
 '100',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
 'Oliver, Jamie',
 '791,095',
 'Penguin']

In [151]:
rank = detail[0:500:5]
book_name = detail[1:500:5]
author_name=detail[2:500:5]
vol_sales=detail[3:500:5]
publisher = detail[4:500:5]

In [152]:
genre = []
genre_tag =driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in genre_tag:
    genre.append(i.text)
len(genre)

100

### creating DataFrame

In [153]:
df = pd.DataFrame({'Rank':rank,'Book Name':book_name,'Author Name':author_name,'Volume Sales':vol_sales,'Publisher':publisher,'Genre':genre})
df

,Rank,Book Name,Author Name,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [154]:
driver.close()

### 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
- A) Name
- B) Year span
- C) Genre
- D) Run time
- E) Ratings
- F) Votes

In [42]:
# import required libraries
import pandas as pd
import selenium
import time 
# import selenium webdriver
from selenium import webdriver
# importing required exceptions which need to handled
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
# importing regex
import re
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
driver = webdriver.Chrome('chromedriver.exe')

In [43]:
driver.get('https://www.imdb.com/list/ls095964455/')
driver.maximize_window()

### Extracting detail

In [44]:
detail = []
detail_tag = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a')
for i in detail_tag:
    detail.append(i.text)
detail

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [46]:
year = []
year_tag = driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in year_tag:
    year.append(i.text)
year

['(2011–2019)',
 '(2016– )',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017– )',
 '(2005– )',
 '(2014–2023)',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011–2019)',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016–2022)',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018– )',
 '(2006–2013)',
 '(2015– )',
 '(1999– )',
 '(2013– )',
 '(2004–2010)',
 '(2013–2022)',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016–2022)',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2021)',
 '(2013–2015)',
 '(2019–2023)',
 '(2014–2019)',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2022)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017–2022)',
 '(2016–2022)',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016– )',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005– )',
 '(2015–2019)',
 '(2018)']

In [47]:
rating = []
rating_tag = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]')
for i in rating_tag:
    rating.append(i.text.split('\n')[0])
rating

['9.2',
 '8.7',
 '8.1',
 '7.5',
 '7.6',
 '8.1',
 '6.6',
 '7.6',
 '7.6',
 '7.5',
 '8.2',
 '8.2',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.7',
 '8.7',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.5',
 '8.6',
 '8.3',
 '6.2',
 '7.5',
 '8.2',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '9.1',
 '6.5',
 '8.1',
 '8.7',
 '8.7',
 '7.3',
 '8.4',
 '8.6',
 '7.8',
 '7.5',
 '7.7',
 '8.7',
 '6.8',
 '8.2',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.3',
 '6.8',
 '8.4',
 '7.4',
 '8.1',
 '7.9',
 '6.8',
 '8.7',
 '8.4',
 '6.5',
 '7.9',
 '8.9',
 '7.8',
 '7.6',
 '8.9',
 '8.1',
 '8.5',
 '8.3',
 '7.3',
 '8.7',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.9',
 '7.3',
 '7.7',
 '7.2',
 '8.5',
 '6.5',
 '8.1',
 '8.7',
 '9.4',
 '7.8',
 '7.4',
 '7.8',
 '8.1',
 '7.1',
 '8.6']

In [48]:
run = []
run_tag = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in run_tag:
    run.append(i.text)
run

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [49]:
genre = []
genre_tag = driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre_tag:
    genre.append(i.text)
genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Sci-Fi',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [50]:
votes = []
votes_tag = driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in votes_tag:
    votes.append(i.text)
votes

['2,089,987',
 '1,179,545',
 '988,902',
 '292,860',
 '252,002',
 '302,913',
 '145,513',
 '308,898',
 '346,329',
 '431,982',
 '476,038',
 '807,139',
 '545,633',
 '924,256',
 '531,697',
 '168,032',
 '322,263',
 '319,636',
 '1,872,529',
 '324,406',
 '445,650',
 '535,313',
 '152,260',
 '148,927',
 '407,465',
 '225,433',
 '421,947',
 '440,823',
 '992,737',
 '683,122',
 '410,842',
 '387,683',
 '136,587',
 '124,424',
 '175,455',
 '155,001',
 '230,938',
 '504,958',
 '215,201',
 '430,616',
 '519,485',
 '64,108',
 '190,837',
 '504,633',
 '385,008',
 '79,627',
 '280,524',
 '243,374',
 '225,073',
 '217,659',
 '240,327',
 '725,412',
 '130,406',
 '339,899',
 '249,762',
 '553,471',
 '546,286',
 '464,883',
 '61,273',
 '111,548',
 '342,035',
 '74,405',
 '105,242',
 '237,038',
 '95,771',
 '95,504',
 '51,145',
 '148,994',
 '369,583',
 '316,108',
 '107,035',
 '248,239',
 '570,345',
 '105,443',
 '129,612',
 '525,192',
 '108,725',
 '236,533',
 '89,449',
 '22,874',
 '144,399',
 '160,675',
 '131,734',
 '37,601',
 '288,679',
 '120,482',
 '131,833',
 '74,326',
 '108,495',
 '199,570',
 '29,116',
 '185,723',
 '216,640',
 '748,520',
 '68,686',
 '50,184',
 '61,456',
 '198,326',
 '41,578',
 '245,226']

## Creating DataFrame

In [51]:
df= pd.DataFrame({'Name':detail,'Year span':year,'Genre':genre,'Run time':run,'Ratings':rating,'Votes':votes})
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,089,987"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,179,545"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"988,902"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"292,860"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"252,002"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,184"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,456"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"198,326"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,578"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"245,226"

In [52]:
driver.close()

### 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
- A) Dataset name
- B) Data type
- C) Task
- D) Attribute type
- E) No of instances
- F) No of attribute
- G) Year
- Note: - from the home page you have to go to the ShowAllDataset page through code.

In [53]:
# import required libraries
import pandas as pd
import selenium
import time 
# import selenium webdriver
from selenium import webdriver
# importing required exceptions which need to handled
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
# importing regex
import re
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
driver = webdriver.Chrome('chromedriver.exe')

In [54]:
driver.get('https://archive.ics.uci.edu/')
driver.maximize_window()

In [55]:
view_all_dataset = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a')
view_all_dataset.click()

In [59]:
detail = []
detail_tag = driver.find_elements(By.XPATH,'//p[@class="normal"]')
for i in detail_tag[8:4364]:
    detail.append(i.text)
detail

['Abalone',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '4177 ',
 '8 ',
 '1995 ',
 'Adult',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 'Annealing',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '798 ',
 '38 ',
 ' ',
 'Anonymous Microsoft Web Data',
 ' ',
 'Recommender-Systems ',
 'Categorical ',
 '37711 ',
 '294 ',
 '1998 ',
 'Arrhythmia',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '452 ',
 '279 ',
 '1998 ',
 'Artificial Characters',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '6000 ',
 '7 ',
 '1992 ',
 'Audiology (Original)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 ' ',
 '1987 ',
 'Audiology (Standardized)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 '69 ',
 '1992 ',
 'Auto MPG',
 'Multivariate ',
 'Regression ',
 'Categorical, Real ',
 '398 ',
 '8 ',
 '1993 ',
 'Automobile',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer, Real ',
 '205 ',
 '26 ',
 '1987 ',
 'Badges',
 'Univariate, Text ',
 'Classification ',
 ' ',
 '294 ',
 '1 ',
 '1994 ',
 'Balance Scale',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '625 ',
 '4 ',
 '1994 ',
 'Balloons',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '16 ',
 '4 ',
 ' ',
 'Breast Cancer',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '286 ',
 '9 ',
 '1988 ',
 'Breast Cancer Wisconsin (Original)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '699 ',
 '10 ',
 '1992 ',
 'Breast Cancer Wisconsin (Prognostic)',
 'Multivariate ',
 'Classification, Regression ',
 'Real ',
 '198 ',
 '34 ',
 '1995 ',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Multivariate ',
 'Classification ',
 'Real ',
 '569 ',
 '32 ',
 '1995 ',
 'Pittsburgh Bridges',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '108 ',
 '13 ',
 '1990 ',
 'Car Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '1728 ',
 '6 ',
 '1997 ',
 'Census Income',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 'Chess (King-Rook vs. King-Knight)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical, Integer ',
 ' ',
 '22 ',
 '1988 ',
 'Chess (King-Rook vs. King-Pawn)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '3196 ',
 '36 ',
 '1989 ',
 'Chess (King-Rook vs. King)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '28056 ',
 '6 ',
 '1994 ',
 'Chess (Domain Theories)',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Bach Chorales',
 'Univariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 '100 ',
 '6 ',
 ' ',
 'Connect-4',
 'Multivariate, Spatial ',
 'Classification ',
 'Categorical ',
 '67557 ',
 '42 ',
 '1995 ',
 'Credit Approval',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '15 ',
 ' ',
 'Japanese Credit Screening',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real, Integer ',
 '125 ',
 ' ',
 '1992 ',
 'Computer Hardware',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '209 ',
 '9 ',
 '1987 ',
 'Contraceptive Method Choice',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1473 ',
 '9 ',
 '1997 ',
 'Covertype',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '581012 ',
 '54 ',
 '1998 ',
 'Cylinder Bands',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '512 ',
 '39 ',
 '1995 ',
 'Dermatology',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '366 ',
 '33 ',
 '1998 ',
 'Diabetes',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 ' ',
 '20 ',
 ' ',
 'DGP2 - The Second Data Generation Program',
 'Data-Generator ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Document Understanding',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1994 ',
 'EBL Domain Theories',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Echocardiogram',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '132 ',
 '12 ',
 '1989 ',
 'Ecoli',
 'Multivariate ',
 'Classification ',
 'Real ',
 '336 ',
 '8 ',
 '1996 ',
 'Flags',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '194 ',
 '30 ',
 '1990 ',
 'Function Finding',
 ' ',
 'Function-Learning ',
 'Real ',
 '352 ',
 ' ',
 '1990 ',
 'Glass Identification',
 'Multivariate ',
 'Classification ',
 'Real ',
 '214 ',
 '10 ',
 '1987 ',
 "Haberman's Survival",
 'Multivariate ',
 'Classification ',
 'Integer ',
 '306 ',
 '3 ',
 '1999 ',
 'Hayes-Roth',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '160 ',
 '5 ',
 '1989 ',
 'Heart Disease',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '303 ',
 '75 ',
 '1988 ',
 'Hepatitis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '155 ',
 '19 ',
 '1988 ',
 'Horse Colic',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '368 ',
 '27 ',
 '1989 ',
 'ICU',
 'Multivariate, Time-Series ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Image Segmentation',
 'Multivariate ',
 'Classification ',
 'Real ',
 '2310 ',
 '19 ',
 '1990 ',
 'Internet Advertisements',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '3279 ',
 '1558 ',
 '1998 ',
 'Ionosphere',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '351 ',
 '34 ',
 '1989 ',
 'Iris',
 'Multivariate ',
 'Classification ',
 'Real ',
 '150 ',
 '4 ',
 '1988 ',
 'ISOLET',
 'Multivariate ',
 'Classification ',
 'Real ',
 '7797 ',
 '617 ',
 '1994 ',
 'Kinship',
 'Relational ',
 'Relational-Learning ',
 'Categorical ',
 '104 ',
 '12 ',
 '1990 ',
 'Labor Relations',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '57 ',
 '16 ',
 '1988 ',
 'LED Display Domain',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical ',
 ' ',
 '7 ',
 '1988 ',
 'Lenses',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '24 ',
 '4 ',
 '1990 ',
 'Letter Recognition',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '20000 ',
 '16 ',
 '1991 ',
 'Liver Disorders',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '345 ',
 '7 ',
 '1990 ',
 'Logic Theorist',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Lung Cancer',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '32 ',
 '56 ',
 '1992 ',
 'Lymphography',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '148 ',
 '18 ',
 '1988 ',
 'Mechanical Analysis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '209 ',
 '8 ',
 '1990 ',
 'Meta-data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '528 ',
 '22 ',
 '1996 ',
 'Mobile Robots',
 'Domain-Theory ',
 ' ',
 'Categorical, Integer, Real ',
 ' ',
 ' ',
 '1995 ',
 'Molecular Biology (Promoter Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '106 ',
 '58 ',
 '1990 ',
 'Molecular Biology (Protein Secondary Structure)',
 'Sequential ',
 'Classification ',
 'Categorical ',
 '128 ',
 ' ',
 ' ',
 'Molecular Biology (Splice-junction Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '3190 ',
 '61 ',
 '1992 ',
 "MONK's Problems",
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '432 ',
 '7 ',
 '1992 ',
 'Moral Reasoner',
 'Domain-Theory ',
 ' ',
 ' ',
 '202 ',
 ' ',
 '1994 ',
 'Multiple Features',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '2000 ',
 '649 ',
 ' ',
 'Mushroom',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '8124 ',
 '22 ',
 '1987 ',
 'Musk (Version 1)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '476 ',
 '168 ',
 '1994 ',
 'Musk (Version 2)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '6598 ',
 '168 ',
 '1994 ',
 'Nursery',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '12960 ',
 '8 ',
 '1997 ',
 'Othello Domain Theory',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1991 ',
 'Page Blocks Classification',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '5473 ',
 '10 ',
 '1995 ',
 'Optical Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '5620 ',
 '64 ',
 '1998 ',
 'Pen-Based Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '10992 ',
 '16 ',
 '1998 ',
 'Post-Operative Patient',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '90 ',
 '8 ',
 '1993 ',
 'Primary Tumor',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '339 ',
 '17 ',
 '1988 ',
 'Prodigy',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Qualitative Structure Activity Relationships',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Quadruped Mammals',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 ' ',
 '72 ',
 '1992 ',
 'Servo',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '167 ',
 '4 ',
 '1993 ',
 'Shuttle Landing Control',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '15 ',
 '6 ',
 '1988 ',
 'Solar Flare',
 'Multivariate ',
 'Regression ',
 'Categorical ',
 '1389 ',
 '10 ',
 '1989 ',
 'Soybean (Large)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '307 ',
 '35 ',
 '1988 ',
 'Soybean (Small)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '47 ',
 '35 ',
 '1987 ',
 'Challenger USA Space Shuttle O-Ring',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '23 ',
 '4 ',
 '1993 ',
 'Low Resolution Spectrometer',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '531 ',
 '102 ',
 '1988 ',
 'Spambase',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '4601 ',
 '57 ',
 '1999 ',
 'SPECT Heart',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '267 ',
 '22 ',
 '2001 ',
 'SPECTF Heart',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '267 ',
 '44 ',
 '2001 ',
 'Sponge',
 'Multivariate ',
 'Clustering ',
 'Categorical, Integer ',
 '76 ',
 '45 ',
 ' ',
 'Statlog Project',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1992 ',
 'Student Loan Relational',
 'Domain-Theory ',
 ' ',
 ' ',
 '1000 ',
 ' ',
 '1993 ',
 'Teaching Assistant Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '151 ',
 '5 ',
 '1997 ',
 'Tic-Tac-Toe Endgame',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '958 ',
 '9 ',
 '1991 ',
 'Thyroid Disease',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real ',
 '7200 ',
 '21 ',
 '1987 ',
 'Trains',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '10 ',
 '32 ',
 '1994 ',
 'University',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '285 ',
 '17 ',
 '1988 ',
 'Congressional Voting Records',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '435 ',
 '16 ',
 '1987 ',
 'Water Treatment Plant',
 'Multivariate ',
 'Clustering ',
 'Integer, Real ',
 '527 ',
 '38 ',
 '1993 ',
 'Waveform Database Generator (Version 1)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '21 ',
 '1988 ',
 'Waveform Database Generator (Version 2)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '40 ',
 '1988 ',
 'Wine',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '178 ',
 '13 ',
 '1991 ',
 'Yeast',
 'Multivariate ',
 'Classification ',
 'Real ',
 '1484 ',
 '8 ',
 '1996 ',
 'Zoo',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '101 ',
 '17 ',
 '1990 ',
 'Undocumented',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Twenty Newsgroups',
 'Text ',
 ' ',
 ' ',
 '20000 ',
 ' ',
 '1999 ',
 'Australian Sign Language signs',
 'Multivariate, Time-Series ',
 'Classification ',
 'Categorical, Real ',
 '6650 ',
 '15 ',
 '1999 ',
 'Australian Sign Language signs (High Quality)',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '2565 ',
 '22 ',
 '2002 ',
 'US Census Data (1990)',
 'Multivariate ',
 'Clustering ',
 'Categorical ',
 '2458285 ',
 '68 ',
 ' ',
 'Census-Income (KDD)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '299285 ',
 '40 ',
 '2000 ',
 'Coil 1999 Competition Data',
 'Multivariate ',
 ' ',
 'Categorical, Real ',
 '340 ',
 '17 ',
 '1999 ',
 'Corel Image Features',
 'Multivariate ',
 ' ',
 'Real ',
 '68040 ',
 '89 ',
 '1999 ',
 'E. Coli Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 'EEG Database',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer, Real ',
 '122 ',
 '4 ',
 '1999 ',
 'El Nino',
 'Spatio-temporal ',
 ' ',
 'Integer, Real ',
 '178080 ',
 '12 ',
 '1999 ',
 'Entree Chicago Recommendation Data',
 'Transactional, Sequential ',
 'Recommender-Systems ',
 'Categorical ',
 '50672 ',
 ' ',
 '2000 ',
 'CMU Face Images',
 'Image ',
 'Classification ',
 'Integer ',
 '640 ',
 ' ',
 '1999 ',
 'Insurance Company Benchmark (COIL 2000)',
 'Multivariate ',
 'Regression, Description ',
 'Categorical, Integer ',
 '9000 ',
 '86 ',
 '2000 ',
 'Internet Usage Data',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '10104 ',
 '72 ',
 '1999 ',
 'IPUMS Census Database',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '256932 ',
 '61 ',
 '1999 ',
 'Japanese Vowels',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '640 ',
 '12 ',
 ' ',
 'KDD Cup 1998 Data',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '191779 ',
 '481 ',
 '1998 ',
 'KDD Cup 1999 Data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '4000000 ',
 '42 ',
 '1999 ',
 'M. Tuberculosis Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 'Movie',
 'Multivariate, Relational ',
 ' ',
 ' ',
 '10000 ',
 ' ',
 '1999 ',
 'MSNBC.com Anonymous Web Data',
 'Sequential ',
 ' ',
 'Categorical ',
 '989818 ',
 ' ',
 ' ',
 'NSF Research Award Abstracts 1990-2003',
 'Text ',
 ' ',
 ' ',
 '129000 ',
 ' ',
 '2003 ',
 'Pioneer-1 Mobile Robot Data',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Real ',
 ' ',
 ' ',
 '1999 ',
 'Pseudo Periodic Synthetic Time Series',
 'Univariate, Time-Series ',
 ' ',
 ' ',
 '100000 ',
 ' ',
 '1999 ',
 'Reuters-21578 Text Categorization Collection',
 'Text ',
 'Classification ',
 'Categorical ',
 '21578 ',
 '5 ',
 '1997 ',
 'Robot Execution Failures',
 'Multivariate, Time-Series ',
 'Classification ',
 'Integer ',
 '463 ',
 '90 ',
 '1999 ',
 'Synthetic Control Chart Time Series',
 'Time-Series ',
 'Classification, Clustering ',
 'Real ',
 '600 ',
 ' ',
 '1999 ',
 'Syskill and Webert Web Page Ratings',
 'Multivariate, Text ',
 'Classification ',
 'Categorical ',
 '332 ',
 '5 ',
 '1998 ',
 'UNIX User Data',
 'Text, Sequential ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Volcanoes on Venus - JARtool experiment',
 'Image ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Statlog (Australian Credit Approval)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '14 ',
 ' ',
 'Statlog (German Credit Data)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1000 ',
 '20 ',
 '1994 ',
 'Statlog (Heart)',
 'Multivariate ',
 'Classification ',
 'Categorical, Real ',
 '270 ',
 '13 ',
 ...]

In [62]:
name = detail[0:4364:7]
datatype = detail[1:4364:7]
task=detail[2:4364:7]
attribute_type=detail[3:4364:7]
instances = detail[4:4364:7]
attributes = detail[5:4364:7]
year=detail[6:4364:7]

In [72]:
print(len(name),len(datatype),len(task),len(attribute_type),len(instances),len(attributes),len(year))

622 622 622 622 622 622 622

## Creating DataFrame

In [73]:
df = pd.DataFrame({'Dataset Name':name,'Datatype':datatype,'Task':task,'Attribute Type':attribute_type,'Instances':instances,'Attributes':attributes,'Year':year})
df

,Dataset Name,Datatype,Task,Attribute Type,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [76]:
driver.close()