# WEB SCRAPING – ASSIGNMENT 2

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
###        have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
###        jobs data.

In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\expert solution\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\expert solution\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\expert solution\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\expert solution\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\expert solution\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: cffi>=1.14 in c:\users\expert solution\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\expert solution\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\expert solution\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\expert solution\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\expert solution\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0)
Requirement already satisfied: sniffio in c:\users\expert solution\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\expert solution\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\expert solution\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\expert solution\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\expert solution\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\expert solution\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\expert solution\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [ ]:
# Let's import all necessary libraries
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [3]:
# Let's first to connect web driver
driver = webdriver.Chrome('chromedriver.exe')

In [4]:
# open ing up the naukri.com website on automated chrome window
url = driver.get('http://www.naukri.com/')

In [5]:
# lets maximize the automated chrome window
driver.maximize_window()

In [6]:
# finding element for search job bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job.send_keys('Data Analyst')

In [7]:
#  finding web element for search locn bar using absolute xpath
search_loc = driver.find_element(By.XPATH,'//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys('Bangalore')

In [8]:
# clicking using absolute xpath function
search_btn = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_btn.click()

### extracting job titles

In [9]:
# Let's extract all web elements having job titles
job_titles = []
title_tag = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    job_titles.append(i.text)
job_titles

['Lead Data Analyst',
 'Data Analyst/ Sr Data Analyst (For an Agro-tech company)',
 'Sr. Data Analyst (SAS Data Management)',
 'Data Analyst - Consumer Analytics',
 'Assistant Manager - Data Analyst',
 'Manager - Data Analyst - KPO',
 'Manager - Data Analyst - KPO',
 'Data Analyst - Python',
 'Manager - Data Analyst - KPO',
 'Data Analyst']

###  Extracting company names

In [10]:
# Let's extract all web elements having company names
company_names = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_names.append(i.text)
company_names

['Mobile Premier League (MPL)',
 'Uberlife Consulting Private Limited',
 'NMS Consultant',
 'Eli Lilly And Company',
 'Huquo Consulting Pvt. Ltd',
 'Huquo Consulting Pvt. Ltd',
 'Huquo Consulting Pvt. Ltd',
 'Huquo Consulting Pvt. Ltd',
 'Huquo Consulting Pvt. Ltd',
 'Phonepe']

###  Extracting the required experience

In [11]:
# Let's extract all web elements having experience
experience = []
exp_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in exp_tags[0:10]:
    experience.append(i.text)
experience

['4-7 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '2-4 Yrs',
 '3-6 Yrs',
 '5-9 Yrs',
 '3-8 Yrs',
 '4-9 Yrs',
 '2-7 Yrs',
 '1-3 Yrs']

###  Extracting job location

In [12]:
# Let's extract all web elements having location
location = []
loc_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in loc_tags[0:10]:
    location.append(i.text)
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, New Delhi',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Gurgaon/Gurugram',
 'Bangalore/Bengaluru']

In [13]:
# create data frame
df  = pd.DataFrame({'Job Titles':job_titles,'Company Name':company_names,'Experience':experience,'Location':location})
df

,Job Titles,Company Name,Experience,Location
0,Lead Data Analyst,Mobile Premier League (MPL),4-7 Yrs,Bangalore/Bengaluru
1,Data Analyst/ Sr Data Analyst (For an Agro-tec...,Uberlife Consulting Private Limited,5-10 Yrs,Bangalore/Bengaluru
2,Sr. Data Analyst (SAS Data Management),NMS Consultant,5-10 Yrs,"Bangalore/Bengaluru, New Delhi"
3,Data Analyst - Consumer Analytics,Eli Lilly And Company,2-4 Yrs,Bangalore/Bengaluru
4,Assistant Manager - Data Analyst,Huquo Consulting Pvt. Ltd,3-6 Yrs,Bangalore/Bengaluru
5,Manager - Data Analyst - KPO,Huquo Consulting Pvt. Ltd,5-9 Yrs,Bangalore/Bengaluru
6,Manager - Data Analyst - KPO,Huquo Consulting Pvt. Ltd,3-8 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram"
7,Data Analyst - Python,Huquo Consulting Pvt. Ltd,4-9 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram"
8,Manager - Data Analyst - KPO,Huquo Consulting Pvt. Ltd,2-7 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram"
9,Data Analyst,Phonepe,1-3 Yrs,Bangalore/Bengaluru

In [14]:
driver.close()

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
###        have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [15]:
# Let's first to connect web driver
driver = webdriver.Chrome('chromedriver.exe')

In [16]:
# opening up the naukri.com website on automated chrome window
url = driver.get('http://www.naukri.com/')

In [17]:
# Let's maximize the automated chrome window
driver.maximize_window()

In [18]:
# finding web element for search job bar
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input ')
search_job.send_keys('Data Scientist ')

In [19]:

#  finding web element for search locn bar using absolute xpath
search_loc = driver.find_element(By.XPATH,'//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys('Bangalore')

In [20]:
# clicking
search_btn = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_btn.click()

###  Extracting job title

In [21]:
# Let's extract all web elements having job title using relative xpath
job_title = []
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
job_title

['Analystics & Modeling Specialist',
 'Data Scientist - Looking For Immediate Joiners',
 'Assistant Manager - Data Science',
 'Data Scientist',
 'Python Programming Language Data Science Practitioner',
 'Industry X - Software Engineering',
 'Data Scientist: Artificial Intelligence',
 'ACN - Applied Intelligence - C4DI - Sustainability - 09',
 'Data Scientist',
 'Data Scientist']

###  Extracting job location

In [22]:
# Let's extract all web elements having job location using relative xpath
job_location = []
loc_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in loc_tags[0:10]:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Hyderabad/Secunderabad',
 'Hybrid - Bangalore/Bengaluru, Mumbai, Pune',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

###  Extracting company name

In [23]:
# Let's extract all web elements having company name using relative xpath
company_name = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
company_name

['Accenture',
 'Wipro',
 'Citiustech',
 'Altair',
 'Accenture',
 'Accenture',
 'IBM',
 'Accenture',
 'Applied Materials',
 'Applied Materials']

In [24]:
# create data frame of the scraped data
df = pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name})
df

,Job Title,Job Location,Company Name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist - Looking For Immediate Joiners,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Wipro
2,Assistant Manager - Data Science,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune",Citiustech
3,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Altair
4,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture
5,Industry X - Software Engineering,Bangalore/Bengaluru,Accenture
6,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
7,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture
8,Data Scientist,Bangalore/Bengaluru,Applied Materials
9,Data Scientist,Bangalore/Bengaluru,Applied Materials

In [25]:
driver.close()

###  Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
###         You have to use the location and salary filter.
###          You have to scrape data for “Data Scientist” designation for first 10 job results.
###          You have to scrape the job-title, job-location, company name, experience required.
###          The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [41]:
# Let's first to connect web driver
driver = webdriver.Chrome('chromedriver.exe')

In [42]:
# opening up the naukri.com website on automated chrome window
url = driver.get('http://www.naukri.com/')

In [43]:
# Let's maximize the automated chrome window
driver.maximize_window()

In [44]:
# finding web element for search job bar
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input ')
search_job.send_keys('Data Scientist ')

In [46]:
#  finding web element for search location filter
search_loc = driver.find_element(By.XPATH,'//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys('Delhi/NCR')

In [47]:
# clicking
search_btn = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_btn.click()

In [48]:
# click location button
location_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
location_btn.click()

In [49]:
# click salary button
salary_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[13]/div[2]/div[4]/label/p/span[1]')
salary_btn.click()

In [50]:
# Let's extract all web elements having job title using relative xpath
job_title = []
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
job_title

['Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Urgent hiring For Data Scientist (PHD Must Have)',
 'Manager - Data Science - Banking&Financial Services - IIM/ISB/MDI/FMS',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Specialist',
 'Data scientist- Python',
 'Data Scientist']

In [51]:
# Let's extract all web elements having job location using relative xpath
job_location = []
loc_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in loc_tags[0:10]:
    job_location.append(i.text)
job_location

['Noida, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Temp. WFH - Noida, Pune',
 'Delhi / NCR, Bangalore/Bengaluru',
 'Dehradun, Hyderabad/Secunderabad, Gurgaon/Gurugram',
 'Noida',
 'Noida',
 'Noida',
 'Gurgaon/Gurugram',
 'New Delhi']

In [52]:
# Let's extract all web elements having company name using relative xpath
company_name = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
company_name

['HCLTech',
 'Boston Consulting Group',
 'NGI Ventures',
 'Black Turtle',
 'torcai digital media',
 'Meon Technologies',
 'Alliance Recruitment Agency',
 'RCPC',
 'TeamPlus Staffing Solution Pvt Ltd',
 'Razor Group GmbH']

In [53]:
# Let's extract all web elements having experience
experience = []
exp_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in exp_tags[0:10]:
    experience.append(i.text)
experience

['4-9 Yrs',
 '2-5 Yrs',
 '0-4 Yrs',
 '4-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '3-4 Yrs',
 '4-6 Yrs',
 '3-6 Yrs',
 '2-3 Yrs']

In [54]:
# create data frame
df = pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience':experience})
df

,Job Title,Job Location,Company Name,Experience
0,Data Scientist,"Noida, Hyderabad/Secunderabad, Chennai, Bangal...",HCLTech,4-9 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Urgent hiring For Data Scientist (PHD Must Have),"Temp. WFH - Noida, Pune",NGI Ventures,0-4 Yrs
3,Manager - Data Science - Banking&Financial Ser...,"Delhi / NCR, Bangalore/Bengaluru",Black Turtle,4-8 Yrs
4,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
5,Data Scientist,Noida,Meon Technologies,2-5 Yrs
6,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
7,Data Specialist,Noida,RCPC,4-6 Yrs
8,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
9,Data Scientist,New Delhi,Razor Group GmbH,2-3 Yrs

In [55]:
driver.close()

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
###        1. Brand
###        2. Product Description
###        3. Price
###        4. Discount
###        The attributes which you have to scrape is ticked marked in the below image.

In [56]:
# Let's first connect to webdriver
driver = webdriver.Chrome('chromedriver.exe')

In [57]:
#opening up Flipkart website on automated chrome window
url = driver.get('https://www.flipkart.com/')

In [45]:
# let's maximize the automated chrome window
driver.maximize_window()

In [46]:
# finding web element for sunglasses
search_sngls = driver.find_element(By.CLASS_NAME,'_3704LK')
search_sngls.send_keys('sunglasses')

In [47]:
# clicking the search button
search_btn = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

###  Extracting brand

In [77]:
# Let's extract all web elements having brands using relative xpath
brand = []

for page in range(1,4,1):
    
    brand_tag = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag:
        brand.append(i.text)
next_btn = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
next_btn.click()
time.sleep(3)
brand_index = brand[0:100]
len(brand_index)

100

###  Extracting product description

In [78]:
# Let's extract all web elements having product description using relative xpath
product_dec = []

for page in range(1,4,1):
    
    product_tag = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tag:
        product_dec.append(i.text)
next_btn = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
next_btn.click()
time.sleep(3)
product_dec_index= product_dec[0:100]
len(product_dec_index)

100

### Extracting Price

In [79]:
# Let's extract all web elements having price using relative xpath
price= []

for page in range(1,4,1):
    
    price_tag = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag:
        price.append(i.text)
next_btn = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
next_btn.click()
time.sleep(3)
price_index=price[0:100]
len(price_index)

100

###  Extracting discount

In [76]:
# Let's extract all web elements having discount using relative xpath
discount= []

for page in range(1,4,1):
    
    discount_tag = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
    for i in discount_tag:
        discount.append(i.text)
next_btn = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
next_btn.click()
time.sleep(3)
discount_index = discount[0:100]
len(discount_index)

100

In [81]:
# create the dataframe
df = pd.DataFrame({'Brand':brand_index,'Product Description':product_dec_index,'Price':price_index,'Discount':discount_index})
df

,Brand,Product Description,Price,Discount
0,Fastrack,UV Protection Rectangular Sunglasses (52),₹854,87% off
1,Urbanic,UV Protection Wayfarer Sunglasses (Free Size),₹524,20% off
2,ROYAL SON,UV Protection Rectangular Sunglasses (Free Size),₹474,90% off
3,PHENOMENAL,"UV Protection, Polarized Wayfarer Sunglasses (...",₹199,78% off
4,Fastrack,UV Protection Aviator Sunglasses (54),₹683,84% off
...,...,...,...,...
95,PIRASO,UV Protection Rectangular Sunglasses (55),₹379,85% off
96,VINCENT CHASE,UV Protection Aviator Sunglasses (58),₹699,87% off
97,VINCENT CHASE,"Polarized, UV Protection, Gradient, Riding Gla...",₹999,77% off
98,VINCENT CHASE,UV Protection Aviator Sunglasses (54),₹699,84% off
99,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹379,81% off

In [58]:
driver.close()

###  Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
###  As shown in the above page you have to scrape the tick marked attributes.These are:
### 1. Rating
### 2. Review summary
### 3. Full review
### 4. You have to scrape this data for first 100 reviews.

In [41]:
# Let's import all necessary libraries
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [57]:
# Let's first connect to webdriver
driver = webdriver.Chrome('chromedriver.exe')

In [58]:
#opening up Flipkart website on automated chrome window
url = driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [59]:
# Let's maximize the automated chrome window
driver.maximize_window()

In [60]:
Review=[]
for i in range(1,11,1):
    scrapped_review= driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in scrapped_review:
        Review.append(i.text)
len(Review)

100

In [61]:
Ratings=[]
for i in range(1,13,1):
    scrapped_rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in scrapped_rating:
        Ratings.append(i.text)
        
len(Ratings)

120

In [62]:
Full_review=[]
for i in range(1,13,1):
    scrapped_FR=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in scrapped_FR:
        Full_review.append(i.text)
        
len(Full_review)

120

In [63]:
####Indexing######
indexed_review= Review
indexed_ratings=Ratings[:100]
indexed_FR= Full_review[:100]

####DataFrame####
df = pd.DataFrame({'Review':indexed_review,'Ratings':indexed_ratings,'Full_Review':indexed_FR})
df

,Review,Ratings,Full_Review
0,Simply awesome,5,Really satisfied with the Product I received.....
1,Value-for-money,4,I'm Really happy with the product\nDelivery wa...
2,Perfect product!,5,Amazing phone with great cameras and better ba...
3,Best in the market!,5,Great iPhone very snappy experience as apple k...
4,Highly recommended,5,It's my first time to use iOS phone and I am l...
...,...,...,...
95,Worth every penny,5,Previously I was using one plus 3t it was a gr...
96,Highly recommended,5,What a camera .....just awesome ..you can feel...
97,Perfect product!,5,Value for money\n5 star rating\nExcellent came...
98,Great product,5,Amazing Powerful and Durable Gadget.\n\nI’m am...
99,Fabulous!,5,This is my first iOS phone. I am very happy wi...

In [64]:
driver.close()

### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
###  search field.
###  You have to scrape 4 attributes of each sneaker:
###  1. Brand
###   2. Product Description
###   3. Price
###   4. Discount

In [ ]:
# Let's first connect to webdriver
driver = webdriver.Chrome('chromedriver.exe')

In [92]:
#opening up Flipkart website on automated chrome window
url = driver.get('https://www.flipkart.com/')

In [93]:
# Let's maximize the automated chrome window
driver.maximize_window()

In [94]:
# let's finding web element for searching sneakers
search_snkr = driver.find_element(By.CLASS_NAME,'_3704LK')
search_snkr.send_keys('sneakers')

In [95]:
# click the search button
search_btn = driver.find_element(By.CLASS_NAME,'_34RNph')
search_btn.click()

In [101]:
# let's extract all web elements having brand,product description,price,discount
brand = []
product_dec = []
price = []
discount= []
# range for next page
for page in range(1,4,1):
# extracting brand
    brand_tag = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag:
        brand.append(i.text)
# extracting product description        
    product_dec_tag = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for j in product_dec_tag:
        product_dec.append(j.text)
# extracting price       
    price_tag = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for k in price_tag:
        price.append(k.text)
# extracting discount        
    discount_tag = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
    for l in discount_tag:
        discount.append(l.text)
# path for next button        
next_btn = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
next_btn.click()
time.sleep(3)
brand_index = brand[0:100]
product_dec_index=product_dec[0:100]
price_index = price[0:100]
discount_index = discount[0:100]
print(len(product_dec_index),len(brand_index),len(price_index),len(discount_index))

100 100 100 100

In [102]:
# create data frame
df = pd.DataFrame({'Brand':brand_index,'Product Description':product_dec_index,'Price':price_index,'Discount':discount_index})
df

,Brand,Product Description,Price,Discount
0,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹684,72% off
1,GVR,Sneakers For Men,₹649,35% off
2,World Wear Footwear,Exclusive Affordable Collection of Trendy & St...,₹367,66% off
3,SCATCHITE,Sneakers Sneakers For Men,₹360,63% off
4,ASTEROID,Luxury Branded Fashionable Men's Casual Walkin...,₹499,75% off
...,...,...,...,...
95,BRUTON,Anzarun Lite Sneakers For Men,₹389,70% off
96,PUMA,Sneakers For Men,"₹1,817",59% off
97,PUMA,Sneakers For Women,"₹2,549",15% off
98,RED TAPE,shoe Sneakers For Men,"₹1,079",80% off
99,Deals4you,Sneakers For Men,₹359,64% off

In [ ]:
#driver.close()

###  Q7: Go to the link - https://www.myntra.com/shoes
### Set second Price filter and Color filter to “Black”, as shown in the below image.
### And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
### description, price of the shoe as shown in the below image.

In [105]:
# let's first connect to web driver
driver = webdriver.Chrome('chromedriver.exe')
# opening up myntra website on automated chrome window
url = driver.get('https://www.myntra.com/shoes')
# let's maximize the automated chrome window
driver.maximize_window()

In [108]:
# let's find the web element for search shoes
search_shoes = driver.find_element(By.CLASS_NAME,'desktop-searchBar')
search_shoes.send_keys('shoes')
# Let's find the web element for search button
search_btn = driver.find_element(By.CLASS_NAME,'desktop-submit')
search_btn.click()

In [112]:
# set second price filter and colour filter black
price_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()
color_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_filter.click()

In [114]:
# Let's extracting all web elements having brand,shoes description,price
brand = []
shoes_dec=[]
price = []
for page in range(1,3,1):
    brand_tag = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for b in brand_tag:
        brand.append(b.text)
    shoes_dec_tag = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for s in shoes_dec_tag:
        shoes_dec.append(s.text)
    price_tag = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for p in price_tag:
        price.append(p.text)
next_btn = driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
next_btn.click()
brand_index = brand[0:100]
shoes_dec_index = shoes_dec[0:100]
price_index = price[0:100]
print(len(brand_index),len(shoes_dec_index),len(price_index))

100 100 100

In [116]:
# create data frame
df = pd.DataFrame({'Brand':brand_index,'Shoes Description':shoes_dec_index,'Price':price_index})
df

,Brand,Shoes Description,Price
0,PUMA Motorsport,Unisex MAPF1 Drift Sneakers,Rs. 7199Rs. 8999(20% OFF)
1,Puma,Eternity Nitro Running Shoes,Rs. 11049Rs. 12999(15% OFF)
2,Nike,JORDAN MAX AURA 4 Shoes,Rs. 10165Rs. 11295(10% OFF)
3,ADIDAS,Men Runner Fl Running Shoes,Rs. 12749Rs. 14999(15% OFF)
4,Nike,Men Vomero 16 Running Shoes,Rs. 12145Rs. 13495(10% OFF)
...,...,...,...
95,ADIDAS Originals,Men ZX 22 BOOST Sneakers,Rs. 8399Rs. 11999(30% OFF)
96,Xtep,Men Basketball Shoes,Rs. 7199Rs. 7999(10% OFF)
97,Saint G,Block Heeled Boots,Rs. 7560Rs. 8400(10% OFF)
98,Nike,Men Jordan Delta 3 Basketball,Rs. 11515Rs. 12795(10% OFF)
99,Puma,Fusion Evo Extra Wide Golf Shoes,Rs. 7649Rs. 8999(15% OFF)

In [117]:
driver.close()

###  Q8: Go to webpage https://www.amazon.in/
### Enter “Laptop” in the search field and then click the search icon.
### Then set CPU Type filter to “Intel Core i7” as shown in the below image:
### After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
###  1. Title
###  2. Ratings
###  3. Price

In [67]:
# Let's import all necessary libraries
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import traceback

In [68]:
# first connect to web driver
driver = webdriver.Chrome('chromedriver.exe')
# opening up amazon website on automated chrome window
url = driver.get('https://www.amazon.in/')
# let's maximize the window
driver.maximize_window()

In [69]:
# find the web element for searching laptop
search_laptop = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_laptop.send_keys('Laptop')
#find web element for search button
search_btn = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

In [70]:
# set CPU type filter to 'intel Core i7'
cpu_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[12]')
cpu_filter.click()

In [71]:
# let's find all web elements having title,rating,price
title = []
rating= []
price = []
# extracting title using relative xpath
title_tag = driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for t in title_tag[0:10]:
    title.append(t.text)
# extracting rating using relative xpath
try:
    
    rating_tag = driver.find_elements(By.CSS_SELECTOR,'span.a-icon-alt')
    for r in rating_tag[0:10]:
        rating.append(r.text)
except:
    print(traceback.format_exc())
# extracting price using relative xpath
price_tag = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for p in price_tag[0:10]:
    price.append(p.text)
print(len(title),len(rating),len(price))

10 10 10

In [72]:
# create data frame
df = pd.DataFrame({'Title':title,'Rating':rating,'Price':price})
df

                                               Title Rating     Price
0  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...           97,990
1  Samsung Galaxy Book2 Pro Intel 12th Gen i7 Evo...         1,03,490
2  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...           83,990
3  HP Pavilion x360 11th Gen Intel Core i7 14 inc...           80,490
4  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....           77,990
5  Acer Nitro 5 Gaming Laptop/12th Gen Intel Core...         1,04,819
6  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...           81,490
7  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...           97,990
8  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...           93,999
9  Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDD...           45,990

In [1]:
 # as per discussion to SME ,i am skipping the rating part

In [151]:
driver.close()

### Q9: Write a python program to scrape data for Top 1000 Quotes of All Time.
### The above task will be done in following steps:
### 1.First get the webpage https://www.azquotes.com/
### 2. Click on Top Quotes
### 3. Than scrap a) Quote b) Author c) Type Of Quote

In [154]:
# first connect to web driver
driver = webdriver.Chrome('chromedriver.exe')
# opening up amazon website on automated chrome window
url = driver.get('https://www.azquotes.com/')
# let's maximize the window
driver.maximize_window()

In [155]:
# click on top quotes
top_quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [157]:
# scrap quote,author,type of quote
quote = []
author= []
typ = []
for page in range(1,11,1):
    
# extracting quote using relative xpath
    quote_tag = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for t in quote_tag:
        quote.append(t.text)
# extracting author using relative xpath    
    author_tag = driver.find_elements(By.XPATH,'//div[@class="author"]//a')
    for r in author_tag:
        author.append(r.text)
# extracting typeof quote using relative xpath
    typ_tag = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for p in typ_tag:
        typ.append(p.text)
next_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
next_btn.click()
print(len(quote),len(author),len(typ))

1000 1000 1000

In [158]:
df=pd.DataFrame({'Quote':quote,'Author':author,'Type of Quote':typ})
df

,Quote,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
998,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [159]:
driver.close()

### Q10: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
###  This task will be done in following steps:
### 1. First get the webpage https://www.jagranjosh.com/
###  2. Then You have to click on the GK option
### 3. Then click on the List of all Prime Ministers of India
### 4. Then scrap the mentioned data and make the DataFrame.

In [34]:
# first connect to web driver
driver = webdriver.Chrome('chromedriver.exe')
# opening up amazon website on automated chrome window
url = driver.get('https://www.jagranjosh.com/')
# let's maximize the window
driver.maximize_window()

In [35]:
# click on GK
gk = driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [36]:
pm = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm.click()

In [60]:
# scrap the data
list_of_all_prime_ministers = []
list_tag= driver.find_elements(By.XPATH,'//div[@class="ls-row body-fx"]//td//p')
for i in list_tag:
    list_of_all_prime_ministers.append(i.text)
list_of_all_prime_ministers

['1.',
 'Jawahar Lal Nehru',
 '(1889–1964)',
 '15 August 1947 to 27 May 1964',
 '16 years, 286 days',
 'The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 '2.',
 'Gulzarilal Nanda (Acting)',
 '(1898-1998)',
 '27 May 1964 to 9 June 1964,',
 '13 days',
 'First acting PM of India',
 '3.',
 'Lal Bahadur Shastri',
 '(1904–1966)',
 '9 June 1964 to 11 January 1966',
 '1 year, 216 days',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '4. ',
 'Gulzari Lal Nanda  (Acting)',
 '(1898-1998)',
 '11 January 1966 to 24 January 1966',
 '13 days',
 '-',
 '5.',
 'Indira Gandhi',
 '(1917–1984)',
 '24 January 1966 to 24 March 1977',
 '11 years, 59 days',
 'First female Prime Minister of India',
 '6.',
 'Morarji Desai',
 '(1896–1995)',
 '24 March 1977 to  28 July 1979 ',
 '2 year, 126 days',
 'Oldest to become PM (81 years old) and first to resign from office',
 '7.',
 'Charan Singh',
 '(1902–1987)',
 '28 July 1979 to 14 January 1980',
 '170 days',
 'Only PM who did not face the Parliament',
 '8.',
 'Indira Gandhi',
 '(1917–1984)',
 '14 January 1980 to 31 October 1984',
 '4 years, 291 days',
 'The first lady who served as PM for the second term',
 '9.',
 'Rajiv Gandhi',
 '(1944–1991)',
 '31 October 1984 to 2 December 1989',
 '5 years, 32 days',
 'Youngest to become PM (40 years old)',
 '10.',
 'V. P. Singh',
 '(1931–2008)',
 '2 December 1989 to 10 November 1990',
 '343 days',
 'First PM to step down after a vote of no confidence',
 '11.',
 'Chandra Shekhar',
 '(1927–2007)',
 '10 November 1990 to 21 June 1991',
 '223 days',
 'He belongs to  Samajwadi Janata Party',
 '12.',
 'P. V. Narasimha Rao',
 '(1921–2004)',
 '21 June 1991 to 16 May 1996',
 '4 years, 330 days',
 'First PM from south India',
 '13.',
 'Atal Bihari Vajpayee',
 '(1924- 2018)',
 '16 May 1996 to 1 June 1996',
 '16 days',
 'PM for shortest tenure',
 '14.',
 'H. D. Deve Gowda',
 '(born 1933)',
 '1 June 1996 to 21 April 1997',
 '324 days',
 'He belongs to  Janata Dal',
 '15.',
 'Inder Kumar Gujral',
 '(1919–2012)',
 '21 April 1997 to 19 March 1998 ',
 '332 days',
 '------',
 '16.',
 'Atal Bihari Vajpayee',
 '(1924-2018)',
 '19 March 1998 to 22 May 2004 ',
 '6 years, 64 days',
 ' The first non-congress PM who completed a full term as PM',
 '17.',
 'Manmohan Singh',
 '(born 1932)',
 '22 May 2004 to 26 May 2014   ',
 '10 years, 4 days',
 ' First Sikh PM',
 '18.',
 'Narendra Modi',
 '(born 1950)',
 '26 May 2014 - Present',
 '4th Prime Minister of India who served two consecutive tenures']

In [49]:
born_dead = list[2:106:6]
born_dead

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)']

In [50]:
names = list[1:106:6]
names

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi']

In [51]:
terms_of_office=list[3:106:6]
terms_of_office

['15 August 1947 to 27 May 1964',
 '27 May 1964 to 9 June 1964,',
 '9 June 1964 to 11 January 1966',
 '11 January 1966 to 24 January 1966',
 '24 January 1966 to 24 March 1977',
 '24 March 1977 to  28 July 1979 ',
 '28 July 1979 to 14 January 1980',
 '14 January 1980 to 31 October 1984',
 '31 October 1984 to 2 December 1989',
 '2 December 1989 to 10 November 1990',
 '10 November 1990 to 21 June 1991',
 '21 June 1991 to 16 May 1996',
 '16 May 1996 to 1 June 1996',
 '1 June 1996 to 21 April 1997',
 '21 April 1997 to 19 March 1998 ',
 '19 March 1998 to 22 May 2004 ',
 '22 May 2004 to 26 May 2014   ',
 '26 May 2014 - Present']

In [58]:
remarks =list[5:106:6]
remarks.append( '4th Prime Minister of India who served two consecutive tenures')
remarks

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures']

In [59]:
df = pd.DataFrame({'Name':names,'Born-Dead':born_dead,'Terms Of Office':terms_of_office,'Remark':remarks})
df

,Name,Born-Dead,Terms Of Office,Remark
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [17]:
driver.close()

###  Q11: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model name and Price) from https://www.motor1.com/
###  This task will be done in following steps:
###  1. First get the webpage https://www.motor1.com/
###  2. Then You have to click on the List option from Dropdown menu on left side.
###  3. Then click on 50 most expensive cars in the world..
###  4. Then scrap the mentioned data and make the

In [64]:
# first connect to web driver
driver = webdriver.Chrome('chromedriver.exe')
# opening up amazon website on automated chrome window
url = driver.get('https://www.motor1.com/')
# let's maximize the window
driver.maximize_window()

In [65]:
# click the main menu
main_menu = driver.find_element(By.XPATH,'//div[@class="m1-hamburger-button"]')
main_menu.click()

In [66]:
# then click the lists
list = driver.find_element(By.XPATH,'/html/body/div[3]/div[1]/div[3]/ul/li[4]/a')
list.click()

In [67]:
# then click 50 most expensive cars
cars = driver.find_element(By.XPATH,'/html/body/div[2]/div[9]/div[1]/div[1]/div/div/div[1]/div/div[1]/h3/a')
cars.click()

In [68]:
# let's find all web elements having company name,model name,price
company_name = []
#model_name =[]
#price = []
#extract the company name
company_tag = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for c in company_tag[0:50]:
    company_name.append(c.text)
company_name

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [76]:
price = []
price_tag = driver.find_elements(By.XPATH,'//div[@class="pre-center padding b-padding-skin pre-center-feature"]//p//strong')
for m in price_tag[0:50]:
    price.append(m.text)
price

['Price: $1.2 Million',
 'Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 '',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million']

In [77]:
df = pd.DataFrame({'Cars and Comp. name':company_name,'Price':price})
df

                Cars and Comp. name                 Price
0                         Drako GTE   Price: $1.2 Million
1                     De Tomaso P72   Price: $1.3 Million
2                 Ferrari LaFerrari   Price: $1.4 Million
3                     Pagani Huayra   Price: $1.4 Million
4                      McLaren Elva
5                       Czinger 21C   Price: $1.7 Million
6                     Ferrari Monza   Price: $1.7 Million
7                Gordon Murray T.33   Price: $1.7 Million
8                 Koenigsegg Gemera   Price: $1.7 Million
9                       Zenvo TSR-S   Price: $1.7 Million
10               Hennessey Venom F5   Price: $1.7 Million
11                  Bentley Bacalar   Price: $1.8 Million
12    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
13           Bentley Mulliner Batur   Price: $1.9 Million
14                     Deus Vayanne   Price: $2.0 Million
15                      SSC Tuatara   Price: $2.0 Million
16                      Lotus Evija  Price: $2.0 Million*
17              Aston Martin Vulcan   Price: $2.1 Million
18                       Delage D12   Price: $2.3 Million
19                McLaren Speedtail   Price: $2.3 Million
20                     Rimac Nevera   Price: $2.3 Million
21                    Pagani Utopia   Price: $2.4 Million
22             Pininfarina Battista   Price: $2.5 Million
23                Ferrari FXX K Evo   Price: $2.5 Million
24               Gordon Murray T.50   Price: $2.6 Million
25             Lamborghini Countach   Price: $2.6 Million
26         Mercedes-AMG Project One   Price: $2.6 Million
27              Aston Martin Victor   Price: $2.7 Million
28      Hennessey Venom F5 Roadster   Price: $3.0 Million
29                 Koenigsegg Jesko          $3.0 Million
30            Aston Martin Valkyrie   Price: $3.0 Million
31        W Motors Lykan Hypersport   Price: $3.2 Million
32                    McLaren Solus   Price: $3.4 Million
33        Pagani Huayra Roadster BC          $3.5 Million
34         Bugatti Chiron Pur Sport   Price: $3.5 Million
35                 Lamborghini Sian   Price: $3.6 Million
36                 Koenigsegg CC850   Price: $3.6 million
37  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
38               Lamborghini Veneno   Price: $3.9 Million
39                   Bugatti Bolide   Price: $4.5 Million
40                  Bugatti Mistral   Price: $4.7 Million
41              Pagani Huayra Imola   Price: $5.0 Million
42                     Bugatti Divo   Price: $5.4 Million
43              SP Automotive Chaos   Price: $5.8 Million
44                 Pagani Codalunga   Price: $6.4 Million
45         Mercedes-Maybach Exelero   Price: $7.4 Million
46               Bugatti Centodieci   Price: $8.0 Million
47             Rolls-Royce Sweptail   Price: $9.0 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million

In [78]:
driver.close()